extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('tasks'), method: 'post' })
    +input(f, 'name')
    +input(f, 'description')
    +input(f, 'Tags')
    +select(f, 'assignedToId', users)
    +button(f)
