extends /layouts/application.pug

block content
  .container
    .row.mb-5
      .col-12
        h1.welcome Welcome to Lazy Task Manager!
  if !isSignedIn()
    .container.welcome
      form.form-signin
        .row
          .col-lg-3.col-md-2
          .col-lg-6.col-md-8.col-12
            a.btn.btn-lg.btn-block.btn-secondary(href=urlFor('newSession') align='center')
              i.mr-1.fa.fa-sign-in
              | Log in
          .col-lg-3.col-md-2
        h3.mt-3.mb-3 - or -
        .row
          .col-lg-3.col-md-2
          .col-lg-6.col-md-8.col-12
            a.btn.btn-lg.btn-block.btn-success(href=urlFor('newUser'))
              i.mr-1.fa.fa-id-card-o
              | Register
          .col-lg-3.col-md-2
