extends /layouts/application.pug

block content
  .container.mb-3
    h2 Users list
  .container
    .row
      .col-12
        .row
          if users
            each user in users
              +userCard(user)
